@model List<ContactModel>

<table id="table-contatos-usuario" class="display" style="width:100%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Celular</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var contact in Model)
            {
                <tr>
                    <th scope="row">@contact.Id</th>
                    <td>@contact.Name</td>
                    <td>@contact.Email</td>
                    <td>@contact.NumberPhone</td>
                </tr>
            }
        }
        else
        {
            <tr class="odd"><td valign="top" colspan="4">Nenhum contato encontrado</td></tr>
        }
    </tbody>
</table>