@model BrandModel
@{
    ViewData["Title"] = "Criar marca";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar marca</h1>
</div>


<form asp-controller="Brands" asp-action="Create" method="post">

    <div class="form-group">
        <label for="nome" class="form-label">Digite o nome da marca</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Nome">
        @Html.ValidationMessageFor(x => x.Name)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">E uma marca nacional?</label>
        <input type="checkbox" asp-for="National" class="form-control">
        @Html.ValidationMessageFor(x => x.National)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">É uma marca ativa no cadastro?</label>
        <input type="checkbox" asp-for="Active" class="form-control">
        @Html.ValidationMessageFor(x => x.Active)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Brands" role="button">Voltar</a>

</form>
